
# day la comment, khong co tac dung ignore files/folderes
#alo   alo/ => Git khong theo doi thu muc alo
alo

#chung ta se bo qua tat ca cac file co duoi la .log
*.log


# mình muốn bỏ qua file abc.xyz nhưng vẫn giữ myfile.xyz
#sẽ chỉ bỏ qua các file .xyz ở trong git repo
/*.xyz
#minh muon bo qua file abc.txt trong secondfolder
# ubuntu su dung /là path separarator
# Windows thi su dung // hoac \
secondfolder/abc.txt

secondfolder\my.txt